<!doctpye html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h3>Landlord Information</h3>
        <div id="member detail">
        <div id="member first_name"> First Name: {{member.first_name}}</div>
        <div id="member last_name"> Last Name:{{member.last_name}}</div>
        <div id="member detail">
        <div id="member first_name"> First Name: {{member1.first_name}}</div>
        <div id="member last_name"> Last Name:{{member1.last_name}}</div>
        <div id="member detail">
        <div id="member first_name"> First Name: {{member2.first_name}}</div>
        <div id="member last_name"> Last Name:{{member2.last_name}}</div>
        <div id="member detail">
        <div id="member first_name"> First Name: {{member3.first_name}}</div>
        <div id="member last_name"> Last Name:{{member3.last_name}}</div>
        <div id="member detail">
        <div id="member first_name"> First Name: {{member4.first_name}}</div>
        <div id="member last_name"> Last Name:{{member4.last_name}}</div>
            </div></div></div>
       </body>
</html>